$secondary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";

body{
    background-color: #e3f2fd;
    font-family: Lato;
}

.iphone img{
    margin: 20px auto;
    max-width: 100%;
}

.signup-form{
    margin: 20px 0;
    padding: 0 auto; 
}

.title{
    font-family: Lobster;
}

.timeline{
    padding: 30px auto;
}

$avatar-size: 48px;

.avatar{
    max-width: $avatar-size;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.card small.time {
    line-height: $avatar-size;
}

.card p {
    padding: 20px 0;   
}

.card .likes {
    line-height: 30px;
    margin-left: 10px;
}

.card i {
    font-size: 30px;
}

.card .fa-heart {
    color: $secondary-color;
}