$secondary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";

body{
    background-color: #e3f2fd;
    font-family: Lato;
}

.iphone img{
    margin: 20px auto;
    max-width: 100%;
}

.signup-form{
    margin: 20px 0;
    padding: 0 auto; 
}

.title{
    font-family: Lobster;
}

